services:
  api:
    build:
      context: ./apps/api
      dockerfile: Dockerfile
    container_name: buildaweb-api
    environment:
      NODE_ENV: production
      PORT: 4000
      MONGO_URI: mongodb://mongo:27017/buildaweb
      MINIO_ENDPOINT: minio
      MINIO_PORT: 9000
      MINIO_USE_SSL: "false"
      MINIO_ACCESS_KEY: minio
      MINIO_SECRET_KEY: minio12345
      MINIO_BUCKET: buildaweb
      MINIO_PUBLIC_BASE_URL: http://localhost:9000
      JWT_SECRET: change-me
      JWT_EXPIRES_IN: 1d
      BCRYPT_SALT_ROUNDS: 12
    depends_on:
      - mongo
      - minio
    ports:
      - "4001:4000"

  web:
    build:
      context: ./apps/web
      dockerfile: Dockerfile
    container_name: buildaweb-web
    depends_on:
      - api
    ports:
      - "3000:80"
